*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1 {
    letter-spacing: 3px;
}

h2 {
    letter-spacing: 2px;
}

section {
    padding: 2em 0;
}

input {
    max-width: 290px;
    align-self: center;
    margin-bottom: .75em;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.img-container {
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-image: url(CV-kuva-2022_light.jpg);

}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 800px;
}



.nav-section {
    background-color: #94550D;
    color: #fff;
    padding: 1em 0;
}

.hero-section {
    background-color: #431594;
    color: #fff;
    padding: 2em 0;
}

.hero-img {
    display: block;
    background-image: url(CV-kuva-2022_light.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}


.projects-section {    
    background-color: #E08B2B;
    color: #fff;
}

.projects-section li {
    cursor: pointer;
}

.contact-section {
    background-color: #431594;
}

.contact-form {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    text-align: center;
}

.btn {
    max-width: 290px;
    padding: 1em 2.3em;
    align-self: center;
}


.footer-section {
    color: #E08B2B;
    background-color: #94550D;
    padding: 1em 0;
}

/* Project info screens */ 

.info-card {
    display: none; 
    background-color: #fff;
    color: #000;
    padding: 1em;
    max-width: 300px;
}

/* Media queries */

@media (min-width: 800px) {

    
    .row {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .col {
        width: 50%;
    }

    .hero-text-container {
        align-self: center;
    }

    .img-container {
        max-width: 400px;
        height: 650px;
        margin-left: 2em;
    }
}